.works {
  div {
    margin-left: var(--grid-unit);
    margin-right: var(--grid-unit);
    border: 1px solid var(--black);
    p {
      padding-left: 1rem;
      padding-right: 1rem;
      margin: 0;
      padding-bottom: 0;
      &:first-child {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
      }
      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }
}
