.header {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  z-index: var(--z-section-header);
  transition: width 0.3s ease-in-out;
  width: 100%;

  h2 {
    @include mq($until: tablet) {
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    line-height: 1;
  }

  @include mq($from: tablet) {
    a,
    span {
      color: var(--black);
    }
  }

  &.full {
    padding-right: 0;

    @include mq($until: tablet) {
      width: 100%;
    }

    @include mq($from: wide) {
      //width: calc(100% - (2 * var(--wide-margin)));
    }
  }

  margin-top: var(--big-space);

  @include mq($until: tablet) {
    margin-top: -1.5em;
    height: 3rem;
  }

  @include mq($from: tablet) {
    width: 100%;
  }

  &.home {
    margin-top: 0;
  }

  .archive {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    font-family: $headline-font;
    font-weight: bold;
    margin-top: -0.15em;
    letter-spacing: 0.2em;
    font-size: 2.7rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    text-align: center;
    color: rgb(47, 47, 47);
    width: 100%;

    @include mq($from: tablet) {
      margin-top: -0.08em;
      width: calc(100% - var(--total-outer-margin));
    }
  }

  a {
    //width: 100%;

    h2 {
      line-height: 1;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 100%;

      > span {
        /*
        &:hover {
          padding-left: 1em;
          padding-right: 1em;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          border-radius: 1.5em;
          background-color: var(--foreground);
        }
        */

        span {
          animation-name: show;
          animation-duration: 0.2s;
          animation-timing-function: steps(1, end);
          animation-fill-mode: forwards;
          opacity: 0.5;

          @keyframes show {
            to {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.logo {
  position: fixed;
  margin: var(--outer-margin);
  left: 0;
  top: 0;
  z-index: var(--z-menu);

  @include mq($from: desktop) {
    display: none;
  }

  svg {
    @include mq($until: tablet) {
      width: 120px;
      height: 50px;
    }

    path {
      transform: scale(0.8);

      @include mq($until: tablet) {
        transform: scale(0.38);
      }
    }
  }
}

.line {
  margin-bottom: var(--space);
  width: 100%;
  //border-bottom: 1px solid var(--black);

  @include mq($until: tablet) {
    margin-left: var(--outer-margin);
    margin-right: var(--outer-margin);
    width: var(--body-width);
  }
}

.spacer {
  position: relative;
  height: 0;

  @include mq($from: tablet) {
    height: var(--space);
  }
}
