.video {
  display: block;
  height: auto;
  width: 100vw;
  margin-left: calc(-1 * calc(var(--total-outer-margin) + var(--grid-unit)));
  margin-right: calc(-1 * calc(var(--total-outer-margin) + var(--grid-unit)));
  transition: all var(--menu-transition);

  @include mq($from: tablet) {
    width: calc(100% + (2 * var(--total-outer-margin)));
    margin-left: calc(-1 * calc(var(--total-outer-margin)));
    margin-right: calc(-1 * calc(var(--total-outer-margin)));
  }

  &.full {
    width: calc(100% + (2 * var(--outer-margin)));
    margin-left: calc(-1 * calc(var(--outer-margin)));
    margin-right: calc(-1 * calc(var(--outer-margin)));

    @include mq($from: tablet) {
      width: 100vw;
      margin-left: calc(-1 * (var(--total-outer-margin) + var(--grid-unit)));
      margin-right: calc(-1 * (var(--total-outer-margin) + var(--grid-unit)));
    }

    @include mq($from: wide) {
      margin-left: calc(-1 * calc(var(--wide-margin)));
      margin-right: calc(-1 * calc(var(--wide-margin)));
    }
  }

  .player {
    width: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .caption {
    @include mq($until: tablet) {
      margin-left: var(--outer-margin);
      margin-right: var(--outer-margin);
    }
  }
}