.fullScreenVideo {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: calc(100vh - var(--menu-height));
  padding-bottom: 0 !important;
  padding-bottom: 0 !important;
  width: 100vw;
  transition: all var(--menu-transition);

  margin-left: calc(-1 * var(--outer-margin));
  margin-right: calc(-1 * var(--outer-margin));

  @include mq($from: tablet) {
    width: calc(100% + (2 * var(--total-outer-margin)));
    margin-left: calc(-1 * calc(var(--total-outer-margin)));
    margin-right: calc(-1 * calc(var(--total-outer-margin)));
  }

  &.full {
    width: calc(100% + (2 * var(--outer-margin)));
    margin-left: calc(-1 * calc(var(--outer-margin)));
    margin-right: calc(-1 * calc(var(--outer-margin)));

    @include mq($from: tablet) {
      width: 100vw;
      margin-left: calc(-1 * (var(--total-outer-margin) + var(--grid-unit)));
      margin-right: calc(-1 * (var(--total-outer-margin) + var(--grid-unit)));
    }

    @include mq($from: wide) {
      margin-left: calc(-1 * calc(var(--wide-margin)));
      margin-right: calc(-1 * calc(var(--wide-margin)));
    }
  }

  a {
    position: relative;
    height: 100%;
    width: 100%;

    .video {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .textWrap {
    position: absolute;
    bottom: var(--small-space);
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    padding: var(--outer-margin);

    h1 {
      font-size: 2.5rem;
    }

    .text {
    }
  }

  @include mq($until: tablet) {
    height: 50vh;

    .textWrap {
    }
  }
}
