.card {
  position: relative;
  display: block;
  width: 100%;

  .box {
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px var(--transparent-black);
    padding: 0.75rem;
    background-color: var(--white);
    margin: 0;
    overflow: hidden;

    &:hover {
      box-shadow: 1px 1px 10px var(--pink);
    }
  }

  @include mq($until: tablet) {
    padding-left: var(--outer-margin);
    padding-right: var(--outer-margin);
    padding-bottom: var(--outer-margin);
  }

  padding-left: calc(0.25 * var(--gutter));
  padding-right: calc(0.25 * var(--gutter));
  padding-top: calc(0.25 * var(--gutter));
  padding-bottom: calc(0.25 * var(--gutter));

  @include mq($from: tablet) {
    //margin-bottom: calc(0.25 * var(--gutter));
  }
}
