.container {
  width: 100%;
  column-gap: 0;
  column-count: 3;
  margin-top: 1rem;
  padding: 0;

  @include mq($until: desktop) {
    column-count: 1;
  }

  div a:hover {
    color: var(--black) !important;
  }
}