.container {
  width: 100%;
  column-gap: 0;
  columns: 3;
  margin-top: 2rem;
  padding: 0;

  @include mq($until: desktop) {
    columns: 1;
  }

  div a:hover {
    color: var(--black) !important;
  }
}