.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  width: 100%;
  margin-top: 1rem;
  padding: 0;

  @include mq($until: desktop) {
    grid-template-columns: 1fr;
  }

  div a:hover {
    color: var(--black) !important;
  }
}