.card {
  position: relative;
  overflow: hidden;
  width: 100%;

  .box {
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px var(--transparent-black);
    padding: 0.5rem;
    background-color: var(--white);
  }

  @include mq($until: tablet) {
    padding-left: var(--outer-margin);
    padding-right: var(--outer-margin);
  }

  padding-left: calc(0.25 * var(--gutter));
  padding-right: calc(0.25 * var(--gutter));
  padding-top: calc(0.25 * var(--gutter));
  padding-bottom: calc(0.25 * var(--gutter));

  @include mq($from: tablet) {
    //margin-bottom: calc(0.25 * var(--gutter));
  }

  &.hideLastOnDesktop {
    @include mq($from: tablet) {
      &:last-child {
        display: none;
      }
    }
  }

  &.hideLastOnMobile {
    @include mq($until: tablet) {
      &:last-child {
        display: none;
      }
    }
  }
}