.related {
	width: var(--body-width);
	padding-top: var(--space);
	margin-top: var(--space);
	position: relative;
	margin-left: var(--outer-margin);
	margin-right: var(--outer-margin);

	@include mq($from: tablet) {
		margin-left: var(--grid-unit);
		margin-right: var(--grid-unit);
	}

	h2 {
		text-align: center;
		margin-bottom: var(--space) !important;
	}

	display: flex;
	flex-direction: column;
	align-items: center;

	ul {
		padding-left: 0;
		display: flex;
		list-style: none;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		margin-top: calc(-1 * var(--space));

		@include mq($until: tablet) {
			margin-left: calc(-1 * var(--gutter-half));
			margin-right: calc(-1 * var(--gutter-half));
		}

		@include mq($from: tablet) {
			width: 100%;
		}

		li {
			flex: 0 0 33%;
			padding-right: var(--gutter-half);
			padding-left: var(--gutter-half);
			padding-top: var(--space);

			@include mq($until: tablet) {
				flex: 0 0 50%;
			}

			&.single {
				//flex: 1 1 auto;
			}
			&.double {
				//flex: 1 1 50%;
			}
			a {
				background-color: var(--white);
				display: block;
				border-radius: 0.25rem;
				padding: 0.5rem;
				box-shadow: 1px 1px 10px var(--transparent-black);
			}

			figure {
				display: flex;

				box-shadow: 0px 0px 0px var(--black);
				transition: all 0.5s;
				position: relative;

				.image {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center center;
					aspect-ratio: 8 / 5;
					transition: all 0.5s;
					background-color: var(--white);
					mix-blend-mode: multiply;
				}
			}

			figcaption {
				padding-left: 0;
				padding-right: 0;
				padding-top: 0.7em !important;
				line-height: 1.2 !important;
				word-break: break-word;
			}

			&:hover {
				a {
					box-shadow: 1px 1px 10px var(--pink);
				}
			}
		}
	}
}
