.thumbnail {
	position: relative;
	display: block;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;

	&.text,
	.text {
		margin: -0.7rem;
	}

	h3 {
		display: flex;
		align-items: flex-end;
		width: 100%;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		text-align: left;
	}

	h4 {
		text-transform: capitalize;
	}

	h5 {
		margin-bottom: 1em;
	}
	p {
		display: -webkit-box;
		//-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		padding: 0;

		strong {
			padding-right: 1em;
		}

		&.text {
			padding: 0;
		}
	}

	.intro {
		//padding-top: 1em;

		p {
			margin-bottom: 0;
			padding-top: 0.4em;
			padding-bottom: 0.5em;
			line-height: 1.3;
		}

		&.text {
			color: var(--pink) !important;
		}
	}

	.imageWrap {
		position: relative;

		.loader {
			position: absolute !important;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			aspect-ratio: 8 / 5;
			pointer-events: none;
			opacity: 1;
			transition: opacity 0.2s ease !important;

			img {
				object-fit: contain;
			}

			&.hide {
				opacity: 0 !important;
			}
		}

		.image {
			margin-top: calc(0.25 * var(--gutter));
			max-width: none !important;
			//aspect-ratio: 8 / 5;
			transition: all 0.3s ease-in-out;

			img {
				object-fit: cover;
				mix-blend-mode: multiply;
			}

			background-color: var(--white);
		}

		.picture {
			overflow: hidden;
			max-width: 100% !important;
			transition: transform 0.2s ease-in-out;
		}
	}
}
