.figure {
	margin-top: var(--space);
	margin-bottom: var(--space);
	cursor: pointer;

	&.small {
		padding-left: calc(3 * var(--grid-unit));
		padding-right: calc(3 * var(--grid-unit));
	}

	&.medium {
		padding-left: var(--grid-unit);
		padding-right: var(--grid-unit);
	}

	figcaption {
		line-height: 0 !important;

		@include mq($until: tablet) {
			padding-left: var(--outer-margin);
			padding-right: var(--outer-margin);
		}
	}
}
