.footer {
  width: 100%;
  padding-bottom: var(--outer-margin);
  position: relative;
  text-align: left;
  //z-index: var(--z-footer);
  //background-color: var(--white);
  color: var(--black);
  margin-bottom: var(--menu-height);
  height: var(--menu-height);

  @include mq($from: desktop) {
    &.home {
      display: none;
    }
  }

  a {
    color: var(--black);
  }

  section {
    position: relative;
    display: flex;

    @include mq($until: tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: var(--outer-margin);
      padding-right: var(--outer-margin);
    }

    padding-top: var(--outer-margin);
    padding-left: var(--total-outer-margin);
    padding-right: var(--total-outer-margin);
    position: relative;

    div {
      margin-bottom: 6rem;
      width: 100%;
      text-align: center;

      img {
        width: 2rem;
        margin: 1rem;
      }
    }
  }

  .kf {
    @include mq($from: desktop) {
      margin-right: var(--outer-margin);
      //filter: invert(1);
    }

    @include mq($until: tablet) {
      transform: scale(0.7);
    }

    @include mq($from: tablet) {
      position: absolute;
      right: 0;
      top: 0.8rem;
      margin-bottom: var(--outer-margin);
    }

    @include mq($from: wide) {
      top: 1.2rem;
    }
  }
}
