.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-menu);
  height: var(--menu-height);

  background-color: var(--white);
  width: 100%;

  @include mq($until: desktop) {
    display: none;
  }

  &.active {
    text-shadow: #03030353 1px 1px 5px;
    color: var(--pink);
    span {
      color: var(--black);
    }
  }

  .logo {
    position: absolute;
    left: var(--outer-margin);
    top: calc(var(--menu-height) * 0.17);
    height: 3rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 100%;

    li {
      margin: 1rem;
      text-align: center;
      line-height: 1.2;
      span {
        color: var(--black);
      }
      a {
        color: var(--pink); // Default link color
        text-decoration: none;

        &.active {
          text-shadow: var(--yellow) 1px 1px 5px;
          color: var(--pink); // Active link color
          span {
            color: var(--black); // Active span styling
          }
        }

        &:hover {
          text-shadow: var(--yellow) 1px 1px 5px;
          color: var(--pink);
          span {
            color: var(--black);
          }
        }
      }
    }
  }

  .lang {
    position: absolute;
    right: var(--outer-margin);
    top: 0;
    height: var(--menu-height);
    display: flex;
    align-items: center;

    a {
      font-size: 0.8rem;
      padding-left: 1rem;
      text-transform: uppercase;
    }
  }
}
