.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-menu);
  height: var(--menu-height);

  background-color: var(--white);
  width: 100%;

  @include mq($until: desktop) {
    display: none;
  }

  .logo {
    position: absolute;
    left: var(--outer-margin);
    top: calc(var(--outer-margin) / 2);
    height: 3rem;

    @include mq($from: wide) {
      top: calc(var(--outer-margin) / 2.5);
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 100%;

    li {
      margin: 1rem;
      text-align: center;
      line-height: 1.2;
      span {
        color: var(--pink);
      }
      &:hover {
        color: var(--pink);
        span {
          color: var(--black);
        }
      }
    }
  }
}
