.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: calc(var(--navbar-height) + 1.5rem);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);

  img {
    margin-left: var(--outer-margin);
    height: 3rem;
  }

  @include mq($from: desktop) {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--z-menu);
  padding: var(--outer-margin);
  overflow: hidden;
  background: var(--yellow);
  transition: transform var(--menu-transition);
  min-width: 20%;
  max-width: 20%;

  @include mq($from: desktop) {
    display: none;
  }

  @include mq($until: desktop) {
    --max-width: calc(100% - var(--logo-size-optical) - calc(var(--outer-margin) * 3));
    min-width: var(--max-width);
    max-width: var(--max-width);
  }

  &.hide {
    transform: translateX(100%);
  }

  .wrapper {
    padding: var(--outer-margin);
  }

  span {
    display: block;
    color: var(--black);
  }

  a:hover {
    color: var(--black) !important;
  }

  ul {
    list-style: none;
    padding-left: 0.62rem;
    margin-top: 0.5em;

    @include mq($until: desktop) {
      margin-left: 0.62em;
      font-size: 1.1rem;
    }

    &[data-level="0"] {
      scrollbar-width: 0px;
      overflow-y: scroll;
      overflow-x: hidden;

      // Extra padding for scrolling on mobile
      @include mq($until: desktop) {
        padding-bottom: 4rem;
      }

      &::-webkit-scrollbar {
        height: 0px;
      }

      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      > li > a {
        color: var(--pink);
      }
    }

    &[data-level="2"] {
      li > a {
        font-weight: normal !important;
      }
    }

    li {
      padding-bottom: 0.8em;
      line-height: 1.4;
      overflow-x: visible !important;
      overflow-y: visible !important;

      span {
        cursor: pointer;
      }

      a {
        line-height: initial;
      }

      &.bold > a {
      }

      &.active {
        a {
          text-shadow: #03030353 1px 1px 5px;

          color: var(--pink) !important;
          span {
            //color: var(--pink);
          }
        }
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      &:first-of-type {
        //padding-top: 0.5em;

        @include mq($from: tablet) {
          //padding-bottom: 0.5em;
        }
      }
    }
  }

  > ul {
    margin-top: calc(var(--big-space) - var(--outer-margin));
  }
}

.lang {
  padding-left: var(--outer-margin);
  a {
    padding-right: 1rem;
    text-transform: uppercase;
  }
}

.search {
  position: relative;
  padding-bottom: 0 !important;
  --padding: 0rem;
  margin-bottom: 0.5rem;

  input {
    width: 100%;
    border: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    padding: var(--padding);
    margin-top: calc(var(--padding) * -1);

    margin-left: calc(var(--padding) * -1);
    padding-bottom: 0.3rem;

    &::placeholder {
      color: var(--white);
    }

    cursor: pointer;

    &:focus {
      cursor: text;
      border-bottom: 1px solid lightgray;

      &::placeholder {
        color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    top: 0;
    right: 0;
    height: 100%;
    width: 1rem;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &.hide {
      opacity: 0;
    }
  }
}
