.filter {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;

  li {
    cursor: pointer;
    margin: 1em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--black);
    color: var(--white);
    border-radius: 1rem;

    &.active {
      background-color: var(--yellow);
      color: var(--black);
    }
  }
}
