.filter {
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	padding: 0;
	margin-bottom: 2rem;

	@include mq($until: desktop) {
		font-size: 0.8rem;
	}

	.filter {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
		padding: 0;
		margin-bottom: 2rem;

		@include mq($until: desktop) {
			font-size: 0.8rem;
		}
	}

	li {
		cursor: pointer;
		margin: 0.5em;
		padding: 0.5em;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 0.6em;
		color: var(--white);
		border-radius: 1rem;
		background-color: var(--yellow);
		color: var(--black);

		&.active,
		&.active a,
		&:hover,
		&:hover a {
			background-color: var(--black);
			color: var(--white);
		}
	}
}
