// FONT EMBEDDING & TYPO VARIABLES
$body-font: "new-science-extended", Times, "Times New Roman", Sans-Serif;
$headline-font: "new-science-extended", Arial, Helvetica, Sans-Serif;
$headline-font-medium: "Rauschen-Medium", Arial, Helvetica, Sans-Serif;
