@font-face {
	font-family: 'tuppence';
	src:
		url('https://use.typekit.net/af/25d4c5/00000000000000007735eba5/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i7&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/25d4c5/00000000000000007735eba5/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i7&v=3')
			format('woff'),
		url('https://use.typekit.net/af/25d4c5/00000000000000007735eba5/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i7&v=3')
			format('opentype');
	font-display: auto;
	font-style: italic;
	font-weight: 700;
	font-stretch: normal;
}

@font-face {
	font-family: 'tuppence';
	src:
		url('https://use.typekit.net/af/e0f7fe/00000000000000007735ebac/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/e0f7fe/00000000000000007735ebac/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3')
			format('woff'),
		url('https://use.typekit.net/af/e0f7fe/00000000000000007735ebac/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3')
			format('opentype');
	font-display: auto;
	font-style: italic;
	font-weight: 400;
	font-stretch: normal;
}

@font-face {
	font-family: 'tuppence';
	src:
		url('https://use.typekit.net/af/edce21/00000000000000007735ebad/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/edce21/00000000000000007735ebad/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
			format('woff'),
		url('https://use.typekit.net/af/edce21/00000000000000007735ebad/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
			format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

@font-face {
	font-family: 'tuppence';
	src:
		url('https://use.typekit.net/af/2ca7ac/00000000000000007735ebaa/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/2ca7ac/00000000000000007735ebaa/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
			format('woff'),
		url('https://use.typekit.net/af/2ca7ac/00000000000000007735ebaa/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
			format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
}

@font-face {
	font-family: 'new-science';
	src:
		url('https://use.typekit.net/af/b3d652/00000000000000007753f725/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/b3d652/00000000000000007753f725/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
			format('woff'),
		url('https://use.typekit.net/af/b3d652/00000000000000007753f725/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
			format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
}

@font-face {
	font-family: 'new-science';
	src:
		url('https://use.typekit.net/af/94fcc4/00000000000000007753f721/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/94fcc4/00000000000000007753f721/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
			format('woff'),
		url('https://use.typekit.net/af/94fcc4/00000000000000007753f721/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
			format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

@font-face {
	font-family: 'new-science-extended';
	src:
		url('https://use.typekit.net/af/261ae5/00000000000000007753f727/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/261ae5/00000000000000007753f727/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
			format('woff'),
		url('https://use.typekit.net/af/261ae5/00000000000000007753f727/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
			format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

@font-face {
	font-family: 'new-science-extended';
	src:
		url('https://use.typekit.net/af/b54d16/00000000000000007753f71d/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/b54d16/00000000000000007753f71d/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
			format('woff'),
		url('https://use.typekit.net/af/b54d16/00000000000000007753f71d/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
			format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
}
