// FONT EMBEDDING & TYPO VARIABLES
$body-font: "new-science", Times, "Times New Roman", Sans-Serif;
$headline-font: "new-science-extended", Arial, Helvetica, Sans-Serif;
$serif-font: "tuppence", Arial, Helvetica, Sans-Serif;
