.button {
  margin-top: var(--small-space);
  margin-bottom: var(--small-space);
  display: block;
  button {
    cursor: pointer;
    width: var(--body-width);
  }

  &:not(:first-of-type) {
    margin-top: -4rem;
    margin-bottom: 0;
  }
}
